
@{
    ViewData["Title"] = "Index";
}

<h1>Email Previewer</h1>

<p>
    @Html.ActionLink("Confirm Account Email Html", "ConfirmAccountEmailHtml")
</p>
<p>
    @Html.ActionLink("Confirm Account Email Text", "ConfirmAccountEmailText")
</p>
<p>
    @Html.ActionLink("Reset Password Html", "ResetPasswordHtml")
</p>
<p>
    @Html.ActionLink("Reset Password Text", "ResetPasswordText")
</p>
