@model ButtonViewModel

<table border="0" cellspacing="0" cellpadding="0">
    <tr><td style="height: 5px"></td></tr>
    <tr>
        <td bgcolor="@Model.HexColour" style="padding: 10px 18px 10px 18px; border-radius:3px" align="center">
            <a href="@Model.Href" target="_blank" style="font-size: 16px; color: #fff; text-decoration: none; display: inline-block;">@Model.Text</a>
        </td>
    </tr>
    <tr><td style="height: 5px"></td></tr>
</table>