@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
    var resetPasswordButtonViewModel = new ButtonViewModel { Href = @Model.ResetPasswordUrl, Text = "Reset Password" };
}

<p>
    Please reset your password by clicking the button below:
</p>

<p>
    <partial name="../../../Shared/Partials/Button.cshtml" model="resetPasswordButtonViewModel" />
</p>

<p>
    The above button link is only valid for 1 day, if you don't use the button above in time you will have to request a password reset again.
</p>